
#keypad-container {
    display: flex;
    width: 405px;
    height: 100%;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    float: left;
}

#suggestions-container {
    height: 150px;
    width: 399px;
}

#num-pad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 403px;
    padding-left: 30px;
    padding-right: 30px;
}

.keypad-numbers {
    width: 83px;
    height: 83px;
    border: transparent;
    border-radius: 25px;
    font-family: Gill Sans, sans-serif;
    font-size: 26px;
    color: white;
    margin: 5px 15px 5px 15px;
    background-color: transparent;
    transition-duration: 0.5s;
}

.keypad-numbers:hover {
    box-shadow: 0 3px 18px 2px rgba(79, 79, 79, 1);
}

#user-input {
    display: flex;
    justify-content: center;
    height: 53px;
    width: 399px;
}

#entered-number {
    text-align: center;
    background-color: #090909;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 29px;
    font-family: Gill Sans, sans-serif;
}

#call-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 399px;
    height: 100px;
}

.call-icons {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

#video-button {
    background-image: url("../img/icons8-video-call-48.png");
}

#call-button {
    background-image: url("../img/icons8-phone-60.png");
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

#delete-button {
    background-image: url("../img/icons8-clear-symbol-48.png");
}