#main-container {
    display: flex;
    width: 405px;
    height: 833px;
    border: none;
    background-color: #050505;
    border-radius: 10px;
    flex-direction: column;
}

#more-options-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    border: 2px solid transparent;
    padding-right: 10px;
}

#search-bar {
    width: 340px;
    height: auto;
    border-style: none;
    font-family: Gill Sans, sans-serif;
    background-color: transparent;
    color: #e0e0e0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}

#more-options-button {
    height: 25px;
    width: 25px;
    align-self: flex-end;
    background-repeat: no-repeat;
    background-image: url("../img/icons8-menu-vertical-96.png");
    background-size: cover;
    background-color: lightgray;
    border: 2px solid transparent;
    border-radius: 50%;
}

#contacts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #050505;
    border: 2px solid red;
    flex-grow: 1;
    min-height: min-content;
    overflow: scroll;
    overflow-x: hidden;
    float: left;
    height: 100%;
    width: 399px;

}

#create-contact-container > span {
    color: #606060;
    padding-left: 10px;
    font-size: 20px;
}

#create-contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 5px;
    padding-top: 5px;
}

#create-contact {
    height: 25px;
    width: 25px;
    align-self: flex-start;
    font-family: Gill Sans, sans-serif;
    background-repeat: no-repeat;
    background-image: url("../img/icons8-add-to-favorites-52.png");
    background-size: cover;
    background-color: darkgray;
    border: 2px solid transparent;
    border-radius: 50%;
}

.contact {
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 389px;
    font-family: Gill Sans, sans-serif;

}

.contact > span {
    color: gray;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 20px;
}

.contact:hover {
    background-color: #191919;

}

.contact-icon {
    /*background-image: url("../img/icons8-contacts-208.png"); Alternative icon choice.*/
    background-image: url("../img/icons8_user_male_circle_96px.png");
    background-size: cover;
    height: 52px;
    width: 52px;
    border: solid #191919;
    border-radius: 100%;
}

#navigation-bar-container {
    position: relative;
    height: 60px;
    border: 2px solid transparent;
}

#navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

/*Styles all of the buttons that are a child ONLY to the navigation- bar.*/
#navigation-bar > button {
    background: none;
    margin-top: 10px;
    border: none;
    color: #f4f4f4;
    font-size: 16px;
    font-family: Gill Sans, sans-serif;
}

#navigation-bar > button:hover {
    border-bottom: 3px dotted gray;
}

#big-list {
    display: flex;
    flex-direction: row;
    width: 1215px;
    height: 737px;
    overflow: hidden;
}

#small-list-with-a-hole {
    width: 405px;
    height: 833px;
    overflow: hidden;
}

#resents-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    width: 405px;
    border: none;
    padding-top: 10px;
    background-color: #050505;
    float: left;
}

.call-log-container {
    display: flex;
    flex-direction: row;
    height: 52px;
    width: 405px;
    border: solid rebeccapurple;
    font-family: Gill Sans, sans-serif;
    color: whitesmoke;
}

.day-of-week {
    font-family: Gill Sans, sans-serif;
    color: whitesmoke;
    font-size: 18px;

}

.time-phone-call-received {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: Gill Sans, sans-serif;
    color: whitesmoke;
}

.caller-name {
    width: 300px;
}

#keypad-container {
    display: flex;
    width: 405px;
    height: 100%;
    border: none;
    background-color: #050505;
    border-radius: 10px;
    flex-direction: column;
    float: left;
}

#suggestions-container {
    height: 150px;
    width: 399px;
    border: solid;
}

#num-pad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 403px;
    width: 399px;
}

.button-looks {
    width: 99px;
    height: 99px;
    border: transparent;
    border-radius: 100%;
    font-family: Gill Sans, sans-serif;
    font-size: 25px;
    color: white;
    margin: 0 10px 0 10px;
    background-color: transparent;
}

#user-input {
    display: flex;
    justify-content: center;
    height: 53px;
    width: 399px;
}

#entered-number {
    text-align: center;
    background-color: #101010;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 29px;
    font-family: Gill Sans, sans-serif;
}

/*  Example for a number:
    #input {
    color: #9c9c9c;
    font-size: 29px;
    font-family: Gill Sans, sans-serif ;
    padding-top: 16px;
}
*/
#call-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 399px;
    height: 100px;
}

.call-icons {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    border: solid transparent;
    border-radius: 8px;
}

.call-icons:hover {
    background-color: #c9c9c9;
}

#video-button {
    background-image: url("../img/icons8_video_call_24px_3.png");
}

#call-button {
    background-image: url("../img/icons8_phone_48px.png");
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

#delete-button {
    background-image: url("../img/icons8_clear_symbol_24px.png");
}